In [1]:
import pandas as pd
import os, errno
import time

In [2]:
meta = pd.read_csv('vox1_meta.csv', sep='\t')

In [3]:
meta["Nationality"].value_counts()

USA                    799
UK                     215
Canada                  54
Australia               37
India                   26
Norway                  20
Ireland                 18
Germany                  9
Italy                    8
New Zealand              8
Mexico                   7
Sweden                   5
Spain                    4
Russia                   4
Chile                    3
Philippines              3
Denmark                  3
Netherlands              3
Switzerland              3
Croatia                  3
China                    2
Portugal                 2
Poland                   2
Israel                   1
Iran                     1
Trinidad and Tobago      1
Singapore                1
Sri Lanka                1
Pakistan                 1
South Africa             1
France                   1
Guyana                   1
Sudan                    1
Austria                  1
Brazil                   1
South Korea              1
Name: Nationality, dtype: int64

In [4]:
meta

     VoxCeleb1 ID     VGGFace1 ID Gender Nationality  Set
0         id10001    A.J._Buckley      m     Ireland  dev
1         id10002     A.R._Rahman      m       India  dev
2         id10003      Aamir_Khan      m       India  dev
3         id10004     Aaron_Tveit      m         USA  dev
4         id10005       Aaron_Yoo      m         USA  dev
...           ...             ...    ...         ...  ...
1246      id11247    Zachary_Levi      m         USA  dev
1247      id11248  Zachary_Quinto      m         USA  dev
1248      id11249     Zack_Snyder      m         USA  dev
1249      id11250     Zoe_Saldana      f         USA  dev
1250      id11251     Zulay_Henao      f         USA  dev

[1251 rows x 5 columns]

In [ ]:
# def GetIds(male=True):
#     g = 'm' if male else 'f'
#     return meta[meta["Gender"] == g]['VoxCeleb1 ID']

In [ ]:
# male_ids = set(GetIds())
# female_ids = set(GetIds(male=False))

In [5]:
USA_ids = set(meta[meta["Nationality"] == 'USA']['VoxCeleb1 ID'])
UK_ids = set(meta[meta["Nationality"] == 'UK']['VoxCeleb1 ID'])
Canada_ids = set(meta[meta["Nationality"] == 'Canada']['VoxCeleb1 ID'])
Australia_ids = set(meta[meta["Nationality"] == 'Australia']['VoxCeleb1 ID'])
India_ids = set(meta[meta["Nationality"] == 'India']['VoxCeleb1 ID'])
Norway_ids = set(meta[meta["Nationality"] == 'Norway']['VoxCeleb1 ID'])
Ireland_ids = set(meta[meta["Nationality"] == 'Ireland']['VoxCeleb1 ID'])

In [6]:
utters = pd.read_csv('/home/jupyter/voxceleb-fairness/data/datasets/full/vox1_full_utterances.txt', header=None, sep=' ')

In [7]:
utters[0]

0         id10562
1         id10562
2         id10562
3         id10562
4         id10562
           ...
153511    id10657
153512    id10657
153513    id10657
153514    id10657
153515    id10657
Name: 0, Length: 153516, dtype: object

In [8]:
USA_utters_temp = utters[[x in USA_ids for x in utters[0]]].reset_index(drop=True)
if len(USA_utters_temp) > 5000:
    USA_utters = utters[[x in USA_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    USA_utters = USA_utters_temp
##########################################    
UK_utters_temp = utters[[x in UK_ids for x in utters[0]]].reset_index(drop=True)
if len(UK_utters_temp) > 5000:
    UK_utters = utters[[x in UK_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    UK_utters = UK_utters_temp
########################################### 
Canada_utters_temp = utters[[x in Canada_ids for x in utters[0]]].reset_index(drop=True)
if len(Canada_utters_temp) > 5000:
    Canada_utters = utters[[x in Canada_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    Canada_utters = Canada_utters_temp
###########################################
Australia_utters_temp = utters[[x in Australia_ids for x in utters[0]]].reset_index(drop=True)
if len(Australia_utters_temp) > 5000:
    Australia_utters = utters[[x in Australia_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    Australia_utters = Australia_utters_temp
###########################################
India_utters_temp = utters[[x in India_ids for x in utters[0]]].reset_index(drop=True)
if len(India_utters_temp) > 5000:
    India_utters = utters[[x in India_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    India_utters = India_utters_temp
###########################################
Norway_utters_temp = utters[[x in Norway_ids for x in utters[0]]].reset_index(drop=True)
if len(Norway_utters_temp) > 5000:
    Norway_utters = utters[[x in Norway_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    Norway_utters = Norway_utters_temp
###########################################
Ireland_utters_temp = utters[[x in Ireland_ids for x in utters[0]]].reset_index(drop=True)
if len(Ireland_utters_temp) > 5000:
    Ireland_utters = utters[[x in Ireland_ids for x in utters[0]]].sample(5000).reset_index(drop=True)
else:
    Ireland_utters = Ireland_utters_temp
###########################################
#UK_utters = utters[[x in UK_ids for x in utters[0]]].reset_index(drop=True)##.sample(5000)
#Canada_utters = utters[[x in Canada_ids for x in utters[0]]].reset_index(drop=True)##.sample(5000)
#Australia_utters = utters[[x in Australia_ids for x in utters[0]]].reset_index(drop=True)##.sample(5000)
#India_utters = utters[[x in India_ids for x in utters[0]]].reset_index(drop=True)##.sample(5000)
#Norway_utters = utters[[x in Norway_ids for x in utters[0]]].reset_index(drop=True)##.sample(5000)
#Ireland_utters = utters[[x in Ireland_ids for x in utters[0]]].reset_index(drop=True)##.sample(5000)

In [ ]:
# countries = ['USA', 
#        'UK',
#        'Canada', 
#        'Australia', 
#        'India', 
#        'Norway', 
#        'Ireland' ]
# all_utters_names = []
# for i, country_name in enumerate(countries):
#     '{:s}'.format(country_name)+ '_utters_temp' = utters[[x in '{:s}'.format(country_name)+'_ids' for x in utters[0]]].reset_index(drop=True)
#     if len('{:s}'.format(country_name)+'_utters_temp') > 5000:
#         '{:s}'.format(country_name)+'_utters' = utters[[x in '{:s}'.format(country_name)+'_ids' for x in utters[0]]].sample(5000).reset_index(drop=True)
#     else:
#         '{:s}'.format(country_name)+'_utters' = '{:s}'.format(country_name)+'_ids'+'_utters_temp'
#     all_utters_names.append(['{:s}'.format(country_name)+'_ids'+'_utters'])

In [ ]:
# USA_utters = all_utters_names[0]
# UK_utters = all_utters_names[1]
# Canada_utters = all_utters_names[2]
# Australia_utters = all_utters_names[3]
# India_utters = all_utters_names[4]
# Norway_utters = all_utters_names[5]
# Ireland_utters = all_utters_names[6]

In [ ]:
# female_utters = utters[[x in female_ids for x in utters[0]]].sample(5000).reset_index(drop=True)

In [9]:
def silentremove(filename):
    try:
        os.remove(filename)
    except OSError as e: # this would be "except OSError, e:" before Python 2.6
        if e.errno != errno.ENOENT: # errno.ENOENT = no such file or directory
            raise # re-raise exception if a different error occurred

In [10]:
def make_pairs(utters_df, filename):
    silentremove(filename)
    start = time.time()
    current_iter_start = start
    for i in range(len(utters_df)):
        data = []
        for j in range(i + 1, len(utters_df)):
            num = 1 if utters_df[0][i] == utters_df[0][j] else 0
            data.append([num, utters_df[1][i], utters_df[1][j]])
        pd.DataFrame(data).to_csv(filename, mode='a', index=False, header=None, sep=' ')
        if i % 1000 == 0:
            current_iter_end = time.time()
            print('Wrote {} of {} utterances in {} seconds ({} seconds from start)'.format(i, len(utters_df), current_iter_end - current_iter_start, current_iter_end - start))
            current_iter_start = current_iter_end

In [11]:
make_pairs(USA_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_USA_full.txt')
make_pairs(UK_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_UK_full.txt')
make_pairs(Canada_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_Canada_full.txt')
make_pairs(Australia_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_Australia_full.txt')
make_pairs(India_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_India_full.txt')
make_pairs(Norway_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_Norway_full.txt')
make_pairs(Ireland_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_Ireland_full.txt')

Wrote 0 of 5000 utterances in 0.12969708442687988 seconds (0.12969708442687988 seconds from start)
Wrote 1000 of 5000 utterances in 110.4688720703125 seconds (110.59856915473938 seconds from start)
Wrote 2000 of 5000 utterances in 85.56296610832214 seconds (196.16153526306152 seconds from start)
Wrote 3000 of 5000 utterances in 61.37478566169739 seconds (257.5363209247589 seconds from start)
Wrote 4000 of 5000 utterances in 37.4766058921814 seconds (295.0129268169403 seconds from start)
Wrote 0 of 5000 utterances in 0.12234210968017578 seconds (0.12234210968017578 seconds from start)
Wrote 1000 of 5000 utterances in 109.37769365310669 seconds (109.50003576278687 seconds from start)
Wrote 2000 of 5000 utterances in 85.13477945327759 seconds (194.63481521606445 seconds from start)
Wrote 3000 of 5000 utterances in 61.14364528656006 seconds (255.7784605026245 seconds from start)
Wrote 4000 of 5000 utterances in 37.1662380695343 seconds (292.9446985721588 seconds from start)
Wrote 0 of 5000 utterances in 0.11761927604675293 seconds (0.11761927604675293 seconds from start)
Wrote 1000 of 5000 utterances in 108.3389527797699 seconds (108.45657205581665 seconds from start)
Wrote 2000 of 5000 utterances in 84.87723445892334 seconds (193.33380651474 seconds from start)
Wrote 3000 of 5000 utterances in 60.41188883781433 seconds (253.74569535255432 seconds from start)
Wrote 4000 of 5000 utterances in 36.77790927886963 seconds (290.52360463142395 seconds from start)
Wrote 0 of 4593 utterances in 0.10935807228088379 seconds (0.10935807228088379 seconds from start)
Wrote 1000 of 4593 utterances in 97.74590301513672 seconds (97.8552610874176 seconds from start)
Wrote 2000 of 4593 utterances in 75.28650140762329 seconds (173.1417624950409 seconds from start)
Wrote 3000 of 4593 utterances in 50.483259439468384 seconds (223.62502193450928 seconds from start)
Wrote 4000 of 4593 utterances in 27.157968759536743 seconds (250.78299069404602 seconds from start)
Wrote 0 of 5000 utterances in 0.1196138858795166 seconds (0.1196138858795166 seconds from start)
Wrote 1000 of 5000 utterances in 108.93906259536743 seconds (109.05867648124695 seconds from start)
Wrote 2000 of 5000 utterances in 85.0522780418396 seconds (194.11095452308655 seconds from start)
Wrote 3000 of 5000 utterances in 60.864381313323975 seconds (254.97533583641052 seconds from start)
Wrote 4000 of 5000 utterances in 36.94728231430054 seconds (291.92261815071106 seconds from start)
Wrote 0 of 2508 utterances in 0.06022953987121582 seconds (0.06022953987121582 seconds from start)
Wrote 1000 of 2508 utterances in 48.632826805114746 seconds (48.69305634498596 seconds from start)
Wrote 2000 of 2508 utterances in 25.29409146308899 seconds (73.98714780807495 seconds from start)
Wrote 0 of 2567 utterances in 0.06771230697631836 seconds (0.06771230697631836 seconds from start)
Wrote 1000 of 2567 utterances in 50.28590226173401 seconds (50.35361456871033 seconds from start)
Wrote 2000 of 2567 utterances in 26.675469160079956 seconds (77.02908372879028 seconds from start)

In [12]:
USA_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_USA_full.txt', header=None, sep=' ')
UK_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_UK_full.txt', header=None, sep=' ')
Canada_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Canada_full.txt', header=None, sep=' ')
Australia_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Australia_full.txt', header=None, sep=' ')
India_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_India_full.txt', header=None, sep=' ')
Norway_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Norway_full.txt', header=None, sep=' ')
Ireland_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Ireland_full.txt', header=None, sep=' ')

In [13]:
balanced_USA_pairs = pd.concat([USA_pairs[USA_pairs[0] == 1].reset_index(drop=True), USA_pairs[USA_pairs[0] == 0].sample(sum(USA_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)
balanced_UK_pairs = pd.concat([UK_pairs[UK_pairs[0] == 1].reset_index(drop=True), UK_pairs[UK_pairs[0] == 0].sample(sum(UK_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)
balanced_Canada_pairs = pd.concat([Canada_pairs[Canada_pairs[0] == 1].reset_index(drop=True), Canada_pairs[Canada_pairs[0] == 0].sample(sum(Canada_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)
balanced_Australia_pairs = pd.concat([Australia_pairs[Australia_pairs[0] == 1].reset_index(drop=True), Australia_pairs[Australia_pairs[0] == 0].sample(sum(Australia_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)
balanced_India_pairs = pd.concat([India_pairs[India_pairs[0] == 1].reset_index(drop=True), India_pairs[India_pairs[0] == 0].sample(sum(India_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)
balanced_Norway_pairs = pd.concat([Norway_pairs[Norway_pairs[0] == 1].reset_index(drop=True), Norway_pairs[Norway_pairs[0] == 0].sample(sum(Norway_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)
balanced_Ireland_pairs = pd.concat([Ireland_pairs[Ireland_pairs[0] == 1].reset_index(drop=True), Ireland_pairs[Ireland_pairs[0] == 0].sample(sum(Ireland_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)

In [ ]:
#balanced_USA_pairs
# balanced_UK_pairs
# Canada_pairs
# Australia_pairs
# balanced_India_pairs
# balanced_Norway_pairs
# balanced_Ireland_pairs

In [ ]:
# make_pairs(female_utters, '/home/jupyter/voxceleb-fairness/data/lists/vox1_female_all.txt')

In [ ]:
# female_pairs = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_female_all.txt', header=None, sep=' ')

In [ ]:
# balanced_female_pairs = pd.concat([female_pairs[female_pairs[0] == 1].reset_index(drop=True), female_pairs[female_pairs[0] == 0].sample(sum(female_pairs[0] == 1)).reset_index(drop=True)]).sort_index().reset_index(drop=True)

In [ ]:
# balanced_female_pairs

In [14]:
balanced_USA_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_USA_full_balanced.txt', index=False, header=None, sep=' ')
balanced_UK_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_UK_full_balanced.txt', index=False, header=None, sep=' ')
balanced_Canada_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Canada_full_balanced.txt', index=False, header=None, sep=' ')
balanced_Australia_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Australia_full_balanced.txt', index=False, header=None, sep=' ')
balanced_India_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_India_full_balanced.txt', index=False, header=None, sep=' ')
balanced_Norway_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Normay_full_balanced.txt', index=False, header=None, sep=' ')
balanced_Ireland_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_Ireland_full_balanced.txt', index=False, header=None, sep=' ')

In [ ]:
# balanced_female_pairs.to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_female_all_balanced.txt', index=False, header=None, sep=' ')